<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min(1).css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>工作台
            <small>菜单管理</small>
        </h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>工作台</el-breadcrumb-item>
            <el-breadcrumb-item>菜单管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-input placeholder="项目名称" v-model="pagination.queryString" style="width: 200px;"
                          class="filter-item"></el-input>
                <el-button @click="queryPage()" class="dalfBut">查询</el-button>
                <el-button type="primary"  class="butT" @click="handleCreate()">新建</el-button>
            </div>
            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column type="index" align="center" label="序号"></el-table-column>
                <el-table-column prop="name" label="项目名称" align="center"></el-table-column>
                <el-table-column prop="linkUrl" label="项目页面" align="center"></el-table-column>
                <el-table-column prop="path" label="路径" align="center"></el-table-column>
                <el-table-column prop="priority" label="优先级" align="center"></el-table-column>
                <el-table-column prop="icon" label="图标" align="center"></el-table-column>
                <el-table-column prop="description" label="说明" align="center"></el-table-column>
                <el-table-column prop="parentMenuId" label="上级菜单ID" align="center"></el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <!--scope.row当前数据对象-->
                        <el-button type="primary" size="mini"  @click="handleUpdate(scope.row)">编辑</el-button>
                        <el-button size="mini" type="danger"  @click="handleDelete(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-size="pagination.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>
            <!-- 新增标签弹层 -->
            <div class="add-form">
                <el-dialog title="新增菜单" :visible.sync="dialogFormVisible">
                    <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                             label-width="100px">
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="项目名称" prop="name">
                                    <el-input v-model="formData.name"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="项目页面" prop="linkUrl">
                                    <el-input v-model="formData.linkUrl"/>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="路径" prop="path">
                                    <el-input v-model="formData.path"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="优先级">
                                    <el-select v-model="formData.priority">
                                        <el-option label="一级" value="1"></el-option>
                                        <el-option label="二级" value="2"></el-option>
                                        <el-option label="三级" value="3"></el-option>
                                        <el-option label="四级" value="4"></el-option>
                                        <el-option label="五级" value="5"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="图标">
                                    <el-input v-model="formData.icon"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="说明">
                                    <el-input v-model="formData.description" type="textarea"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="上级菜单ID">
                                    <el-input v-model="formData.parentMenuId" type="textarea"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleAdd()">确定</el-button>
                    </div>
                </el-dialog>
            </div>

            <!-- 编辑标签弹层 -->
            <div class="add-form">
                <el-dialog title="编辑菜单" :visible.sync="dialogFormVisible4Edit">
                    <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right"
                             label-width="100px">
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="项目名称" prop="name">
                                    <el-input v-model="formData.name"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="项目页面" prop="linkUrl">
                                    <el-input v-model="formData.linkUrl"/>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="路径" prop="path">
                                    <el-input v-model="formData.path"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="优先级">
                                    <el-select v-model="formData.priority">
                                        <el-option label="一级" value="1"></el-option>
                                        <el-option label="二级" value="2"></el-option>
                                        <el-option label="三级" value="3"></el-option>
                                        <el-option label="四级" value="4"></el-option>
                                        <el-option label="五级" value="5"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="图标">
                                    <el-input v-model="formData.icon"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="说明">
                                    <el-input v-model="formData.description" type="textarea"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="上级菜单ID">
                                    <el-input v-model="formData.parentMenuId" type="textarea"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                        <el-button type="primary" @click="handleEdit()">确定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
</body>
<!-- 引入组件库 -->
<script src="../js/vue.js"></script>
<script src="../plugins/elementui/index.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<script>

    var vue = new Vue({
        el: '#app',
        data: {
            pagination: {//分页相关模型数据
                currentPage: 1,//当前页码
                pageSize: 10,//每页显示的记录数
                total: 0,//总记录数
                queryString: null//查询条件
            },
            dataList: [],//当前页要展示的分页列表数据
            formData: {},//表单数据
            dialogFormVisible: false,//增加表单是否可见
            dialogFormVisible4Edit: false,//编辑表单是否可见
            rules: {//校验规则
                name: [{required: true, message: '项目名称为必填项', trigger: 'blur'}],
                linkUrl: [{required: true, message: '项目页面为必填项', trigger: 'blur'}],
                path: [{required: true, message: '项目路径为必填项', trigger: 'blur'}]
            }
        },
        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            //页面初始化完成后调用分页方法
            this.findPage();
        },
        methods: {
            //编辑页面
            handleEdit() {
                //编辑完数据提交时先校验数据
                this.$refs["dataEditForm"].validate((valid)=>{
                    if (valid){
                        //表单校验成功发送异步请求
                        axios.post("/menu/edit.do",this.formData).then((res)=>{
                            //隐藏编辑窗口
                            this.dialogFormVisible4Edit = false;
                            //判断数据是否编辑成功
                            if (res.data.flags){
                                //提示成功信息
                                this.$message({
                                    message:res.data.message,
                                    type:'success',
                                })
                            } else{
                                //失败
                                this.$message.error(res.data.message)
                            }
                        }).finally(()=>{
                            this.findPage();
                        })
                    }else {
                        //表单校验失败
                        this.$message.error("表单数据校验失败,请核对后上传");
                        return false;
                    }
                })
            },
            //添加
            handleAdd() {
                this.$refs["dataAddForm"].validate((valid) => {
                    //校验表单输入项是否合法
                    if (valid) {
                        //合法，发送异步请求将数据发送到后台
                        axios.post("/menu/add.do", this.formData).then((response) => {
                            //隐藏新增窗口
                            this.dialogFormVisible = false;
                            //判断是否有数据返回
                            if (response.data.flag) {
                                this.$message({
                                    message: response.data.message,
                                    type: 'success',
                                });
                            } else {
                                this.$message.error(response.data.message)
                            }
                        }).finally(() => {
                            this.findPage();
                        })
                    } else {
                        //校验不通过，提示信息
                        this.$message.error("数据校验失败，请检查你的输入信息是否正确！");
                        return false;
                    }
                })
            },
            //分页查询
            findPage() {
                var param = {
                    //将请求的数据封装到JSON对象中
                    currentPage: this.pagination.currentPage,
                    pageSize: this.pagination.pageSize,
                    queryString: this.pagination.queryString
                };
                axios.post("/menu/findPage.do", param).then((resp) => {
                    //双向数据绑定，将返回的数据赋值给页面变量
                    this.dataList = resp.data.rows;//分页列表数据
                    this.pagination.total = resp.data.total;//总页数
                })
            },
            // 重置表单
            resetForm() {
                this.formData = {};
            },
            // 弹出添加窗口
            handleCreate() {
                this.dialogFormVisible = true;
                this.resetForm();
            },
            // 弹出编辑窗口
            handleUpdate(row) {
                //调用异步请求回显数据
                axios.get("/menu/findById.do?id="+row.id).then((response)=>{
                    if (response.data.flag){
                        //请求成功显示隐藏窗口
                        this.dialogFormVisible4Edit = true;
                        //基于VUE双向数据绑定回显到页面
                        this.formData = response.data.data;
                    }else{
                        //请求失败，报出错误信息
                        this.$message.error("获取数据失败，请刷新页面");
                    }
                })
            },
            //切换页码
            handleCurrentChange(currentPage) {
                //currentPage为切换页面后的页码,赋值给pagination的属性currentPage
                this.pagination.currentPage = currentPage;
                //再调用分页方法
                this.findPage();
            },
            // 删除
            handleDelete(row) {//row是JSON数据，
                this.$confirm("确定要删除当前记录么?", "提示", {type: "warning"}).then(() => {
                    //发送AJAX请求
                    axios.get("/menu/delete.do?id=" + row.id).then((response) => {
                        if (response.data.flag) {
                            //删除成功
                            this.$message({
                                message: response.data.message,
                                type: "success"
                            });
                            //调用分页
                            this.findPage();
                        } else {
                            //失败提示错误信息
                            this.$message(response.data.message);
                        }
                    })
                })
            },
            //查询方法
            queryPage() {
                this.pagination.currentPage = 1;
                this.findPage();
            }
        }
    })
</script>
</html>